<div class="business-card">
  <div class="card-content">
    <div class="header">
      <div class="left-header">
        <div class="profile-picture round">
          <img src="/assets/head.png" alt="Profile picture">
        </div>
        <div class="tagline">
          <div class="first-line">Let's work</div>
          <div class="second-line">together</div>
        </div>
      </div>
      <div class="right-header">
        <div class="profile-picture">
          <img src="../../assets/qu.png" alt="QR-Code">
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="footer">
      <div class="contact-info">
        <div class="email">Hannover1992&#64;googlemail.com</div>
        <div class="phone">+49 1590 6706920</div>
        <div class="website">PatrykKrzyzanski.de</div>
      </div>
    </div>
  </div>
</div>
