<div class="business-card">
  <div class="card-content">
    <div class="header">
      <div class="left-header">
        <div class="tagline">
          <div class="first-line">Patryk Krzyzanski</div>
          <div class="second-line"> Full-Stack Software <br>Developer </div>
        </div>
      </div>
      <div class="right-header">
        <div class="titlePortfolio">
          <div class="profile-picture">
            <img src="../../assets/qu1.png" alt="QR-Code">
          </div>
        </div>
        <div class="titlePortfolio Title">
            Portfolio
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="footer">
      <div class="contact-info">
        <div class="email">Hannover1992&#64;googlemail.com</div>
        <div class="phone">+49 1590 6706920</div>
        <div class="website">PatrykKrzyzanski.de</div>
      </div>
    </div>
  </div>
</div>
